@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --deep-teal: #002633;
    --accent-teal: #3e6a7e;
    --chip-teal: #517789;
  }
  body {
    @apply text-slate-900 antialiased;
  background-color: #F7F5F3;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
